body {
    font-family: sans-serif;
     background-color: blue;
    color: blanchedalmond;
}
footer{
    background-color: aliceblue;
}
header{
    background-color: rgb(255, 255, 255);
}
h1{
    background-color: gold;
    border-radius: 500px ;
}
